/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.env.backupic/product_images
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/app/public/product_images