$first-light: #d12771;
$first: #ca286e;
$first-dark: #ca284b;
$first-dark2: #a31a55;

$secondary-light: #5f89be;
$secondary: #4d78b0;
$secondary-dark: #4671aa;
$secondary-dark2: #305a91;

$red: #cb2149;
$red-dark: #cb2149;
$red-dark2: #cb2149;

$white: rgb(255, 255, 255);
$background: rgb(245, 245, 245);
$border-color: rgb(230, 230, 230);
$header-gray: rgb(210, 210, 210);
$hover-gray: rgb(238, 238, 238);
$green: #4caf50;

$font-color: #000000;
$font-color-light: #272727;
$disabled: #6d0929;
$discount: #00ce56;

$first-light: #db2852;
$first: #d21e49;
$first-dark: #c21a41;
$first-dark2: #9a0f3b;

$secondary-light: #db2852;
$secondary: #d21e49;
$secondary-dark: #c21a41;
$secondary-dark2: #9a0f3b;