#admin-orders {
    td {
        text-align: center;
        line-height: 41px;
    }

    td:nth-child(1) {
        width: 100px;
    }
    
    td:nth-child(4) {
        width: 90px;
    }

    td:nth-child(5) {
        width: 150px;
    }

    td:nth-child(6) {
        width: 120px;
    }

    td:nth-child(7) {
        width: 100px;
    }
}

@media (max-width: 1300px) { 
    #admin-orders {
        td:nth-child(4), th:nth-child(4) {
            display: none;
        }
    }
}

@media (max-width: 1200px) { 
    #admin-orders {
        font-size: 14px;
    }
}

@media (max-width: 900px) {
    #admin-orders {
        td:nth-child(3), th:nth-child(3) {
            display: none;
        }
    }
}

@media (max-width: 700px) {
    #admin-orders {
        td:nth-child(6), th:nth-child(6),
        td:nth-child(5), th:nth-child(5) {
            display: none;
        }
    }
}

@media (max-width: 475px) {
    #admin-orders {
        td:nth-child(1), th:nth-child(1),
        td:nth-child(7), th:nth-child(7) {
            box-sizing: border-box;
            width: 60px;
            max-width: 60px;
            word-wrap: break-word;
        }
    }
}