#products {
    td:nth-child(1) {
        width: 50px;
        text-align: center;
        line-height: 34px;
        height: 34px;
    }

    td:nth-child(2) {
        width: 30px;
        padding: 0px;
        
        img {
            width: 40px;
            height: 40px;
        }
    }

    td:nth-child(3) {
        text-align: center;
        line-height: 34px;
        height: 34px;
    }

    td:nth-child(4) {
        text-align: center;
        line-height: 34px;
        height: 34px;
    }

    td:nth-child(5) {
        width: 75px;
        text-align: center;
        line-height: 34px;
        height: 34px;
    }

    td:nth-child(6) {
        width: 125px;
        text-align: center;
        line-height: 34px;
        height: 34px;
    }

    td:nth-child(7) {
        width: 170px;
        text-align: center;
        line-height: 34px;
        height: 34px;
    }
}

#pagination-box {
    padding: 0px !important;
}

#admin-products-nav{
    display: inline-block !important;
    float: left;
    width: calc(100% - 100px);
    nav {
        margin: 0px !important;
    }
}

#create-product-button {
    display: inline-block;
    float: left;
    width: 100px;
    margin-top: 3px;
    margin-bottom: 20px;
}