// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import "node_modules/font-awesome/scss/font-awesome.scss";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Variables
@import 'variables';

@font-face {
    font-family: myfont;
    src: url('/fonts/ptsans.ttf');
}

::-moz-selection {
    color: $white !important;
    background: $first !important;
}

::selection {
    color: $white !important;
    background: $first !important;
}

a, a:active, a:hover, a:visited {
    text-decoration: none;
    outline: none;
    color: $first-dark;
    
    &:hover {
        color: $first-dark2;
        text-decoration: underline;
    }
}

#navbar {
    background-color: $first;

    .nav-item {
        background-color: $first;
    }

    .desktop-link > a{
        box-sizing: border-box;
        height: 43px;
        line-height: 28px;
    }

    .dropdown-item {
        height: 32px;
        line-height: 30px;
    }

    a, a:active, a:hover, a:visited {
        text-decoration: none;
        outline: none;
        color: $font-color;
        
        &:hover {
            color: $font-color;
            text-decoration: none;
        }
    }
}

html, body{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: $background;
    font-family: myfont !important;
}

#logo-box {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 120px;
    height: 50px;
    overflow: hidden;
    padding: 0px;
}

#logo-box>img{
    position: absolute;
    box-sizing: border-box;
    height: 42px;
    margin: 0px;
    margin-top:4px;
    border: 0px;
    top: 0px;
    animation: 6s ease infinite pulse;

    &:first-child {
        animation: none;
    }
}

@keyframes pulse {
    0% {
        top: 0px;
    }

    1% {
        top: -4px;
    }

    2% {
        top: -8px;
    }

    3% {
        top: -10px;
    }

    4% {
        top: -8px;
    }

    5% {
        top: -4px;
    }

    6% {
        top: 0px;
    }

    100% {
        top: 0px;
    }
}

@for $i from 1 through 5 {
    .logo-animation-image {
        &:nth-child(#{$i}) {
            animation-delay: $i * .1s !important;
        }
    }
}

.mobile-link {
    display: none;
}

.nav-item.search {
    box-sizing: border-box;
    height: 30px !important;
    padding: 0px;
    margin-top: 4px;
    margin-left: 5px;
    border-radius: 9999px;
    overflow: hidden;
}

#search-button {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    width: 35px;
    height: 100% !important;
    line-height: 100%;
    text-align: center;
    background-color: $white;
    color: $font-color;
    border: none;
    border-radius: 0px;
    font-size: 16px;
    transition: .1s;

    &:hover {
        font-size: 18px;
        padding-left: 9px;
    }

    &:active, &:focus {
        background-color: $white !important;
    }
}

#search-input {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    width: 175px;
    height: 100%;
    line-height: 100%;
    border: none;
    border-radius: 0px;
    padding: 0px;
    padding-top: 0px;
    padding-left: 6px;
    margin: 0px;

    &:hover, &:focus, &:active {
        border: none;
        box-shadow: none;
    }
}

#content {
    max-width: 100% !important;
    width: 100% !important;
    margin: 0px !important; 
    padding-top: 40px;
    padding-bottom: 40px;
}

#footer {
    box-sizing: border-box;
    box-shadow: 0 0.125rem -0.25rem rgba(0, 0, 0, 0.075) !important;
    height: 50px;
    line-height: 50px;
    background-color: $first;
    text-align: center;
    overflow: hidden;
    
    a, a:active, a:hover, a:visited {
        text-decoration: none;
        outline: none;
        color: $white;
        
        &:hover {
            color: $white;
            text-decoration: underline;
        }
    }
}

.footer-item {
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;

    &.right {
        float: right;
        height: 50px;
        line-height: 50px;

        a {
            height: 50px;
            line-height: 54px;
            font-size: 32px;
        }
    }
}

.footer-link {
    color: $white;
    font-size: 14px;
    &:hover {
        color: rgb(235, 235, 235);
    }
}

.disappear-leave-active {
    animation: disappear .25s reverse;
}

@keyframes disappear {
    0% {
        transform: scale(1, 0);
    }

    100% {
        transform: scale(1, 1);
    }
}

@media (max-width: 1000px) {
    .nav-item.search {
        display: none;
    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 13px !important;
    }

    #logo-box {
        width: 105px;
        
        img {
            width: 105px;
            height: auto;
        }
    }
}

@media (max-width: 767px) {
    #logo-box {
        margin-left: 5px;
    }

    .navbar-light button.navbar-toggler{
        box-sizing: border-box;
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 20px;
        outline: none;
        width: 40px;
        height: 40px;
        text-align: center;
        padding: 0px;
        
        &:focus, &:active {
            outline: none;
            background-color: $first-dark;
            border-color: $first-dark2;
        }

        i {
            color: white !important;
        }
    }

    #navbar {
        height: 60px;
        div.container {
            background-color: $first;
            height: 60px;
        }

        padding: 0px;
        width: 100%;
        background-color: $first;

        .nav-item {
            background-color: $first;
            text-align: center;
        }

        .nav-item.last {
            border-bottom: 2px solid $first-dark2;
            box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.1) !important;
        }

        .mobile-link {
            display: block;
        }

        .desktop-link {
            display: none;
        }
        
        a, a:active, a:hover, a:visited {
            text-decoration: none;
            outline: none;
            color: $font-color;
            color: white;
            
            &:hover {
                color: $font-color;
                text-decoration: none;
            }
        }

        .dropdown-menu {
            border-radius: 0px !important;
            box-shadow: none;
        }
        
        .dropdown-item {
            color: $white;
            background-color: $first;
        }
        
        .dropdown-item:hover,
        .dropdown-item.focus,
        .dropdown-item:active {
        }
    }
}

@import 'cookie_notification.scss';

@import './vue_components/double_slider.scss';
@import './vue_components/navbar_cart.scss';

@import './vue_components/modify_product.scss';
@import './vue_components/modify_categories.scss';
