@import 'variables.scss';
#contact {
    box-sizing: border-box;
    width: 950px;
    height: 450px;
    border: 1px solid $border-color;
    margin: auto;
    margin-top: 100px;

    #contact-message, #contact-infos {
        display: inline-block;
        float: left;
        width: 50%;
        height: 100%;
        margin: 0px;
        background-color: $first-dark;
    }

    .contact-info {
        width: 90%;
        margin: auto;
        color: $white;
        height: 50px;
        line-height: 50px;
        font-size: 24px;

        img {
            height: 50px;
        }

        a, a:hover, a:focus, a:visited {
            color: $white;
            text-decoration: none;
        }

        &:first-child {
            margin-bottom: 15px;
            margin-top: 15px;
            padding-left: 15px;
            height: 60px;
        }
        
        .contact-info-icon {
            display: inline-block;
            float: left;
            width: 60px;
            height: 100%;
            text-align: center;
        }

        .contact-info-text {
            display: inline-block;
            float: right;
            width: calc(100% - 60px);
            height: 100%;
            text-align: left;
        }
    }

    #contact-message {
        background-image: url('/images/envelope.svg');
        background-repeat: no-repeat;
        background-color: $first;
        background-size: 80px auto;
        background-position-x: 10px;
        background-position-y: 15px;
        
        #success-text {
            width: 90%;
            margin: auto;
            margin-top: 10px;
            color: $white;
        }

        label {
            width: 100%;
            height: 70px;
            line-height: 50px;
            font-size: 22px;
            color: $white;
            padding-left: 105px;
            padding-top: 15px;
        }

        input, textarea {
            width: 90%;
            margin: 12px auto;
            border-radius: 2px;
            resize: none;
        }

        #contact-text {
            height: 195px;
        }

        #send-message-button {
            border: 1px solid $white;
            float: right;
            margin-right: 5%;
        }
    }
}

@media (max-width: 850px) {
    #contact {
        height: auto;
        display: block;
        padding-bottom: 20px;
        background-color: $first;
        margin-top: 0px;
        margin-bottom: 50px;
        margin-left: 10px;
        margin-right: 10px;

        #contact-message, #contact-infos {
            display: block;
            float: none;
            width: 100%;
            height: 450px;
        }

        #contact-infos {
            padding-top: 10px;
            padding-bottom: 50px;
            height: auto;
        }

        #contact-message {
            background-position-x: 22px;

            label {
                padding-left: 115px;
                font-size: 20px;
            }
        }

        .contact-info {
            width: calc(100% - 20px);
        }
    }
}

@media (max-width: 550px) {
    #content {
        padding: 0px;
    }

    #contact {
        margin: 50px 20px;
        width: calc(100% - 40px);

        #contact-message {
            background-size: 60px auto;
            background-position-y: 20px;

            label {
                padding-left: 90px;
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 450px) {
    #contact {
        #contact-message {
            label {
                font-size: 16px;
            }
        }

        .contact-info-text {
            font-size: 18px;
            line-height: 46px;
        }

        .contact-info-icon {
            font-size: 20px;
        }
    }
}

@media (max-width: 380px) {
    #contact {
        width: calc(100% - 8px);
        margin-left: 4px;
        margin-right: 0px;

        #contact-message {

            label {
                font-size: 15px;
            }
        }

        .contact-info-text {
            font-size: 16px;
            line-height: 46px;
        }

        .contact-info-icon {
            font-size: 24px;
        }
    }
}