#cookie-notification-box {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 0px;
    z-index: 10;
    background-color: #323232;
    color: #323232;
    transition-duration: .5s, 0s;
    transition-property: height, color;
    border: none;
    padding: 0px;
    overflow: hidden;
    
    &.visible {
        height: 90px;
        padding: 15px;
        color: white;
    }

    button {
        display: none;
    }

    &.visible button {
        display: block;
        background-color: rgb(50, 50, 50);
        border: 1px solid rgb(140, 140, 140);
        color: white;
        transition: .1s;
        margin-top: 10px;

        &:hover {
            background-color: rgb(38, 38, 38);
            border: 1px solid rgb(160, 160, 160);
        }

        &:active, &:focus {
            background-color: rgb(32, 32, 32);
        }
    }
}

@media (max-width: 767px) {
    #cookie-notification-box.visible {
        height: auto;
    }
}