#custom-order {
    input.form-control, textarea.form-control {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    textarea {
        height: 200px;
    }

    h4 {
        margin-bottom: 15px;
        text-align: center;
    }
}