#content {
    padding: 0px;

    #order-shipping {
        padding: 0px;
        width: 90%;
        max-width: 1400px;
        margin: 0px auto;
    }
}

#billing-checkbox {
    padding-left: 34px;
}

#billing-checkbox-label {
    padding-top: 10px;
}

#confirm-button {
    margin-left: 15px;
    width: 100px;
}

@media (max-width: 767px) {
    h5 {
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 2px;
    }

    label.col-form-label {
        font-size: 15px;
        padding-bottom: 4px;
    }

    div.form-group {
        margin-bottom: 10px;
    }

    #shipping-city-code, #billing-city-code {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}