@import 'variables';

#content
#back-button-box {
    max-width: 1000px;
    margin: auto;
    padding: 0px;
    padding-left: 4px;

    button {
        width: 90px;
        margin-bottom: 10px;
        padding-left: 5px;
    }
}

#category {
    max-width: 1000px;
    margin: auto;
    font-size: 18px;
    height: 22px;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 4px;
    
    .btn-link {
        font-size: 19px;
        line-height: 22px;
        
    }
}

#product-box {
    max-width: 1170px;
    margin: auto;
    min-height: 650px;
    background-color: $background;
    padding: 10px;
}

#product-details-box {
    background-color: $white;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#product-images-box {
    background-color: $white;
    float: left;
    width: 413px;
    height: 500px;
    margin: 0px;
}

#product-parameters-box {
    display: inline-block;
    float: left;
    width: calc(100% - 413px);
    height: 480px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0px;
}

#product-instruction-box {
    margin-top: 30px;
    width: 100%;
    padding: 25px;
    font-size: 18px;
    background-color: $white;

    #thank-you-text {
        width: 100%;
        text-align: center;
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    #instruction-title {
        font-size: 20px;
    }
    
    #instruction-list {
        margin-top: 5px;
        list-style-type: decimal;
    }

    #good-bye-text {
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
    }
}

#product-name {
    width: 100%;
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 18px;
}

#product-category {
    width: 100%;
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
    font-size: 15px;
}

#product-custom-description {
    width: 100%;
    height: 195px;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 10px;
    font-size: 15px;
}

#product-custom-parameters {    
    width: 100%;
    height: 130px;
    overflow: hidden;
    font-size: 14px;
    padding: 0x;
    margin: 0px;
    
    input, select {
        height: 32px;
    }

    .product-custom-parameter-name {
        display: inline-block;
        float: left;
        text-align: right;
        line-height: 32px;
        margin-top: 10px;
        width: 150px;
        font-size: 16px;
    }

    .product-custom-parameter-value {
        display: inline-block;
        float: left;
        margin-top: 10px;
        margin-left: 20px;
        width: calc(100% - 170px);
    }
}

#product-shipping {
    display: block;
    height: 30px;
    line-height: 30px;
    width: 100%;
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;

    i {
        font-size: 20px;
    }
}

#product-price-box{
    display: inline-block;
    float: left;
    height: 75px;
    padding-left: 10px;
}

#product-quantity {
    box-sizing: border-box;
    display: inline-block;
    float: right;
    width: 84px;
    height: 32px;
    margin-right: 5px;
    margin-top: 18px;
}

#product-add-to-cart-button {
    display: inline-block;
    float: right;
    text-align: center;
    height: 32px;    
    color: $white;
    transition: .2s;
    cursor: pointer;
    margin-top: 18px;
}

.edit-product-button {
    display: inline-block;
    float: right;
    text-align: center;
    height: 32px;    
    color: $white;
    transition: .2s;
    cursor: pointer;
    margin-top: 18px;
    margin-left: 5px;
}

#product-price {
    color: $first-dark;
    font-weight: bold;
    font-size: 25px;
    height: 30px;
}

#product-old-price {
    text-decoration: line-through;
    color: $font-color-light;
    font-size: 18px;
    height: 45px;
}

#product-price-spacing {
    height: 20px;
}

#product-big-image-box {
    box-sizing: border-box;
    width: 100%;
    height: 411px;
    padding: 20px !important;
    padding-bottom: 0px !important;
    
    img {
        height: 100%;
        width: 100%;
        border-radius: 4px;
        background-color: white;
    }

    overflow: hidden;
}

#product-small-image-box {
    box-sizing: border-box;
    height: 87px;
    overflow: hidden;
}

#product-image-left-arrow-box,
#product-image-right-arrow-box {
    display: inline-block;
    float: left;
    height: 87px;
    width: 20px;
    
    .button {
        padding-left: 0px;
        padding-right: 0px;
        width: 20px;
        height: calc(100% - 12px);
        margin-top: 6px;
        line-height: 30px;
        font-size: 19px;
        font-weight: normal;
    }
}

#product-image-left-arrow-box {
    margin-left: 5px;
}

#product-small-image-slide {
    display: inline-block;
    float: left;
    box-sizing: border-box;
    width: calc(100% - 62px);
    height: 87px;
    padding-left: 1px;
    padding-right: 1px;
    overflow-y: hidden;
    overflow-x: hidden;

    #product-small-image-slide-overflow {
        display: block;
        width: 200%;
        height: 100%;
        overflow: visible;
    }
    
    .product-small-image {
        box-sizing: border-box;
        width: 87px;
        height: 87px;
        display: inline-block;
        float: left;
        margin: 2px;
        cursor: pointer;

        img {
            width: 87px;
            height: 87px;
            transform: scale(1.05);
            transition: .2s;

            &:hover {
                transform: scale(1.0);
            }
        }
    }
}

@media (min-width: 901px) and (max-width: 1200px) {
    #product-images-box {
        width: 325px;
    }

    #product-parameters-box {
        width: calc(100% - 325px);
    }

    #product-big-image-box {
        width: 100%;
        height: 411px;
        
        img {
            width: 100%;
            height: auto;
        }
    
        overflow: hidden;
    }

    #product-small-image-slide {
        .product-small-image {
            width: 71px;
            height: 71px;
            margin-top: 8px;
    
            img {
                width: 71px;
                height: 71px;
            }
        }
    }
}

@media (max-width: 900px) {
    #product-images-box {
        display: block;
        float: none;
        margin: auto;
        width: auto;
        height: auto;
    }

    #product-parameters-box {
        display: block;
        float: none;
        margin: auto;
        width: 100%;
    }

    #product-big-image-box {
        width: auto;
        height: auto;
        text-align: center;
        
        img {
            width: 100%;
            max-width: 600px;
            height: auto;
            margin: auto;
        }
    
        overflow: hidden;
    }

    #product-small-image-slide {
        .product-small-image {
            width: 71px;
            height: 71px;
            margin-top: 8px;
    
            img {
                width: 71px;
                height: 71px;
            }
        }
    }
}

@media (max-width: 550px) {
    #content {
        padding-left: 0px;
        padding-right: 0px;
    }

    #product-parameters-box {
        padding: 10px;

        #product-custom-description {
            padding: 0px;
            margin-top: 8px;
            margin-bottom: 15px;
        }

        #product-custom-parameters {
            height: auto;

            #product-custom-parameter {
                height: 75px;
                &:first-child {
                    margin-top: 20px;
                }

                .product-custom-parameter-name {
                    display: block;
                    float: none;
                    text-align: left;
                    width: 100%;
                    font-size: 16px;
                    height: 25px;
                    line-height: 25px;
                    margin: 0px;
                }

                .product-custom-parameter-value {
                    display: block;
                    float: none;
                    margin: 0px;
                    width: 100%;

                    &:last-child {
                    }
                }
            }
        }

        #product-custom-description {
            height: auto;
        }

        #product-name, #product-category, #product-shipping {
            padding-left: 0px;
        }

        #product-name {
            font-size: 16px;
        }

        #product-price-box {
            position: relative;
            display: block;
            float: left;
            width: calc(100% - 190px);
            height: 44px;
            padding-left: 0px;

            #product-price {
                display: inline-block;
                float: right;
                width: 100%;
                text-align: right;
                font-size: 22px;
                line-height: 32px;
                height: 32px;
            }

            #product-old-price {
                display: none;
            }
        }

        .product-to-cart-box {
            position: relative;
            display: block;
            float: left;
            width: 190px;
            height: 40px;

            #product-add-to-cart-button {
                margin: 0px;
            }

            #product-quantity {
                margin-top: 0px;
            }
        }
    }

    #product-instruction-box {
        font-size: 16px;
    }
}

@media (max-width: 450px) {
    #product-instruction-box {
        #thank-you-text, #good-bye-text, #instruction-title {
            font-size: 18px;
        }
    }
}

@media (max-width: 350px) {
    #product-parameters-box {
        #product-custom-parameters #product-custom-parameter .product-custom-parameter-name {
            font-size: 15px;
            height: 23px;
            line-height: 23px;
        }

        #product-name {
            font-size: 13px;
            height: 22px;
            line-height: 22px;
        }

        #product-category {
            font-size: 13px;
            height: 22px;
            line-height: 22px;
        }
        
        #product-shipping {
            font-size: 12px;
            height: 22px;
            line-height: 22px;
            margin-top: 0px;
        }

        #product-price-box #product-price {
            font-size: 20px;
            line-height: 32px;
            height: 32px;
        }

        #product-custom-description {
            font-size: 14px;
        }
    }

    #product-instruction-box {
        font-size: 15px;
    }
}