@import 'variables';

nav#navbar {
    background-color: $first;
    height: 51px;
    font-size: 14px;
    
    .container {
        max-width: 1600px;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: $white !important;
    font-size: 14px;

    &:hover {
        color: rgb(235, 235, 235) !important;
    }
}

.dropdown-menu {
    padding: 0px;
    border-radius: 4px !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.12),0 2px 10px 0 rgba(0,0,0,0.10);
    border: none;
    overflow: hidden;
}

.dropdown-item {
    color: $font-color;
    font-size: 14px;
    text-align: center;
    padding: 2px 5px;
}

.dropdown-item:hover,
.dropdown-item.focus,
.dropdown-item:active {
    color: $font-color;
    text-decoration: none;
    background-color: $hover-gray !important;
}


.card, .card-header {
    color: $white;
    border: none;
    background-color: $first;

    span[role="alert"] {
        color: white;
    }

    a, a:hover, a:focus, a:active, a:visited {
        color: $white;
    }

    button.btn.btn-primary, button.btn.btn-primary:hover,
    button.btn.btn-primary:focus, button.btn.btn-primary:active {
        border: 1px solid $white;
    }

    .form-check input[type="checkbox"]:checked + label::before,
    .form-check input[type="radio"]:checked + label::before {
        background-color: $white !important;
    }

    .form-check input[type="checkbox"]:checked + label::after,
    .form-check input[type="radio"]:checked + label::after {
        color: $first;
        font-size: bold;
    }
}

.card-header{
    background-color: $first-dark;
}


// link
.btn:focus{
    box-shadow: none;
}

.btn-link {
    color: $first;
}

.btn-link:hover {
    color: $first-dark;
}

.btn-primary{
    color: $white;
    background-color: $first;
    border-color: $first;

    &.blue {
        background-color: $secondary;
        border-color: $secondary;
    }
}

.btn:hover, .btn:focus,
.btn-primary:hover, .btn-primary:focus {
    color: $white;
    background-color: $first-dark;
    border-color: $first-dark2;

    &.blue {
        background-color: $secondary-dark;
        border-color: $secondary-dark2;
    }
}

.btn:active{
    color: $white;
    background-color: $first-dark2;
    border-color: $first-dark2;
    
    &.blue {
        background-color: $secondary-dark2;
        border-color: $secondary-dark2;
    }
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    color: $white;
    background-color: $first-dark2;
    border-color: $first-dark2;
    box-shadow: 0 0 0 0.2rem rgba($first-dark, 0.5);

}

.form-control:focus {
    border-color: $first-light;
    box-shadow: 0 0 0 0.2rem rgba($first-dark, 0.25);
    box-shadow: none;

    &.blue {
        border-color: $secondary-light;
        box-shadow: 0 0 0 0.2rem rgba($secondary-dark, 0.25);
        box-shadow: none;
    }
}

.form-check {
    padding-left: 20px;

    label {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        padding-left: 5px;
    }
}

  .form-check label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.form-check label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;

}

.form-check input[type="checkbox"],
.form-check input[type="radio"] {
    opacity: 0;
    z-index: 1;
}

.form-check input[type="checkbox"]:focus + label::before,
.form-check input[type="radio"]:focus + label::before {
    outline: none;
}

.form-check input[type="checkbox"]:checked + label::after,
.form-check input[type="radio"]:checked + label::after {
    font-family: "FontAwesome";
    content: "\f00c";
    color: #fff;

}

.form-check input[type="checkbox"].discount-tag:checked + label::after {
    background-color: $discount;
    border-color: $discount;
    border-radius: 3px;
    content: "\f02c";
}

.form-check input[type="checkbox"]:checked + label::before,
.form-check input[type="radio"]:checked + label::before {
    background-color: $first;
    border-color: $first-dark;
}

.form-check input[type="checkbox"]:checked + label::before,
.form-check input[type="radio"]:checked + label::before {
    background-color: $secondary;
    border-color: $secondary-dark;
}


/*
    Custom button instead of the bootstrap one
*/
.button, .btn-primary:not(:disabled) {
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    background-color: $first-light;
    border-color: $first-light;
    color: $white;
    height: 32px;
    line-height: 18px;
    padding-left: 10px;
    padding-right: 10px;
    transition: .1s;

    &.blue {
        background-color: $secondary;
        border-color: $secondary;
    }

    &.red {
        background-color: $red;
        border-color: $red;
    }

    &:hover {
        color: $white;
        background-color: $first;
        border-color: $first;
        outline: none;

        &.blue {
            background-color: $secondary-dark;
            border-color: $secondary-dark;
        }

        &.red {
            background-color: $red-dark;
            border-color: $red-dark;
        }
    }

    &:active, &:focus {
        color: $white;
        background-color: $first-dark2;
        border-color: $first-dark2;
        box-shadow: none;
        outline: none;

        &.blue {
            background-color: $secondary-dark2 !important;
            border-color: $secondary-dark2 !important;
            box-shadow: none;
        }

        &.red {
            background-color: $red-dark2;
            border-color: $red-dark2;
        }
    }

    &:focus {
        outline: none;
    }

    &:disabled {
        background-color: $disabled;
        border: 1px solid $disabled;
        color: $white;
        cursor: not-allowed;
        
        &:hover, &:active, &:focus {
            background-color: $disabled;
            border: 1px solid $disabled;
            color: $white;
            cursor: not-allowed;
        }
    }
}

table.table.table-bordered {
    border: none;
    background-color: rgb(252, 252, 252);

    td, tr, th {
        border: none;
        background: $white;
        border-bottom: 1px solid rgb(220, 220, 220);
        border-right: 1px solid rgb(220, 220, 220);
    }

    td:last-of-type, th:last-of-type {
        border-right: none;
    }

    th {
        background-color: $secondary;
        color: $white;
        font-weight: normal;
        text-align: center;
        border-right: 1px solid $secondary-dark;
        border-bottom: 1px solid $secondary-dark;
        height: 35px !important;
        line-height: 35px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    td:first-of-type, th:first-of-type {
        border-left: 1px solid $border-color;
    }

    td:last-of-type {
        border-right: 1px solid $border-color;
    }

    th:first-of-type {
        border-left: 1px solid $secondary-dark;
    }

    th:last-of-type {
        border-right: 1px solid $secondary-dark;
    }

    tr:last-of-type {
        border-bottom: 1px solid $border-color;
    }

    td, th {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}

hr {
    background-color: $secondary;
    outline: none;
    height: 1px;
    border: none;
    width: 100%;
    margin: 5px auto 10px;

    &.gray {
        background-color: rgb(210, 210, 210);
    }
}


.button.menu-button {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    width: 150px;
    margin: 0px;
    margin-top: 5px;
    box-shadow: 0px;
    border-radius: 0px;
    border: 0px;
    background-color: rgb(225, 225, 225);
    color: $font-color-light;

    &.active, &:active, &:focus {
        box-shadow: none !important;
        background-color: $secondary !important;
        color: $white !important;
    }

    &:hover {
        color: $white;
    }
}

li.page-item {
    &.page-item:first-child .page-link {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
    }

    &.page-item:last-child .page-link {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    a.page-link, span.page-link {
        color: $font-color-light;
    }

    &.hidden {
        display: none;
    }

    &.active, &:first-of-type, &:last-of-type {
        a.page-link, span.page-link {
            background-color: $secondary;
            border-color: $secondary;
            color: $white;
            user-select: none;
            cursor: pointer;
        }
    }

    &.disabled,
    &.disabled {
        cursor: not-allowed;
    }

    &.active>a.page-link{
        border: 1px solid #dee2e6;
    }

    .page-link:active, .page-link:focus {
        box-shadow: none;
        outline: none;
    }
}

nav:not(#navbar) {
    height: 38px;
    margin: auto;

    &:first-of-type {
        margin-bottom: 30px;
    }

    &:last-of-type {
        margin-top: 30px;
    }
}

.box-shadow {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.12),0 2px 10px 0 rgba(0,0,0,0.10);
}

@media (max-width: 767px) {
    li.page-item {
        display: none;
        width: 40px;
        height: 40px;

        span, a {
            width: 40px;
            height: 40px;
            line-height: 38px;
            padding: 0px;
            text-align: center;
        }
    }
    
    .page-item:first-child,
    .page-item:last-child,
    .page-item.active {
        display: block;
    }

    li.page-item.active span.page-link {
        background-color: $white;
        border-color: $white;
        color: $font-color;
        user-select: none;
        cursor: pointer;
    }
}

