#about-colorzeb {
  margin: auto;
  max-width: 600px;
}

@media only screen and (max-width: 500px) {
  #about-colorzeb {
    font-size: 15px;
  }
}

@media only screen and (max-width: 400px) {
  #about-colorzeb {
    font-size: 14px;
  }
}

