#back-button {
  margin-top: 10px;
}

#menu-buttons {
  box-sizing: border-box;
  display: block;
  text-align: center;
  height: 37px;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#menu-buttons-divider {
  margin-top: 0px;
  background-color: #d21e49;
  margin-bottom: 35px;
}

#order-items .order-item-image {
  width: 50px;
  height: 50px;
}

#order-items tr,
#order-items td {
  height: 50px;
  line-height: 50px;
  text-align: center;
}

#order-items tr:first-of-type,
#order-items th {
  height: 25px;
  line-height: 25px;
}

#order-items td:nth-child(1) {
  width: 50px;
}

#order-items td:nth-child(3),
#order-items td:nth-child(4),
#order-items td:nth-child(5) {
  width: 100px;
}

#order-sum {
  border: none;
  text-align: center;
}

#order-sum .alignment-column {
  border: none;
  background-color: whitesmoke;
}

#order-sum td:nth-child(2) {
  width: 200px;
}

#order-sum td:nth-child(3) {
  width: 100px;
}

#order-customer-data,
#order-customer-shipping-data,
#order-customer-billing-data {
  border: none;
  text-align: center;
  margin-top: 20px;
}

#order-customer-data .alignment-column,
#order-customer-shipping-data .alignment-column,
#order-customer-billing-data .alignment-column {
  border: none;
  background-color: whitesmoke;
}

#order-customer-data td:nth-child(1),
#order-customer-shipping-data td:nth-child(1),
#order-customer-billing-data td:nth-child(1) {
  width: 300px;
}

#order-customer-data td:nth-child(2),
#order-customer-shipping-data td:nth-child(2),
#order-customer-billing-data td:nth-child(2) {
  width: 400px;
}

#order-modify label {
  line-height: 40px;
}

#order-modify #payed div {
  padding-left: 5px;
}

#order-button-box {
  padding: 0px;
}

#order-status-email {
  display: inline-block;
  float: left;
  width: calc(100% - 150px);
}

#order-status-email-text {
  height: 100px;
}

#order-status-email-button {
  display: inline-block;
  float: right;
  width: 120px;
}

#order-status-emails {
  margin-top: 60px;
  font-size: 14px;
}

#order-status-emails td {
  box-sizing: border-box;
  height: 30px;
  padding: 0px;
  padding-top: 1px;
}

#order-status-emails td:nth-child(1) {
  text-align: center;
  width: 125px;
  vertical-align: middle;
}

#order-status-emails td:nth-child(2) {
  vertical-align: middle;
}

#order-status-emails td:nth-child(3) {
  text-align: center;
  width: 150px;
  vertical-align: middle;
}

