#content {
  padding-bottom: 50px !important;
}

#products-page {
  margin: 0px;
  padding: 0px;
}

#filters {
  max-width: 350px;
}

#filters #filters-header {
  display: none;
}

#filters #filters-body {
  display: block;
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow: hidden;
}

#products {
  margin: 0px;
  padding-left: 0px;
  min-height: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
}

.product-box {
  display: flex;
  width: 300px;
  height: 424px;
  padding: 15px;
  -webkit-animation: 0.75s ease 1 fade forwards;
          animation: 0.75s ease 1 fade forwards;
  opacity: 0;
}

.product-box > a {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.product-box > a:hover,
.product-box > a:active,
.product-box > a:focus {
  text-decoration: none;
}

.product-inner-box {
  background-color: white;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  padding-bottom: 2px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.product-inner-box .product-image-box {
  position: relative;
  width: 100%;
  margin: auto;
  margin-bottom: 5px;
  overflow: hidden;
}

.product-inner-box .product-image-box img {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  transition: 0.3s;
}

.product-inner-box .product-image-box .product-box-colors {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  display: inline-block;
}

.product-inner-box .product-image-box .product-box-colors .product-color-symbol {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin: 5px;
}

.product-inner-box .product-image-box .product-box-discount {
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  width: 70px;
  height: 28px;
  line-height: 28px;
  border-radius: 4px;
  top: 10px;
  right: 10px;
  z-index: 2;
  text-align: center;
  background-color: #00ce56;
  color: white;
}

.product-inner-box .product-name,
.product-inner-box .product-price,
.product-inner-box .product-old-price {
  width: 100%;
  padding-left: 2px;
  color: black;
}

.product-inner-box .product-name {
  width: 100%;
  margin: auto;
  font-size: 15px;
  height: 50px;
  line-height: 25px;
  margin-top: 10px;
  padding: 0px 10px;
}

.product-inner-box .product-bottom-box {
  box-sizing: border-box;
  display: block;
  padding: 0px 10px 10px 10px;
}

.product-inner-box .product-price-box {
  box-sizing: border-box;
  display: inline-block;
  float: left;
}

.product-inner-box .product-add-to-cart-button,
.product-inner-box .view-product-button,
.product-inner-box .edit-product-button {
  box-sizing: border-box;
  display: inline-block;
  float: right;
  color: white;
  height: 36px;
  width: 36px;
  line-height: 36px;
  padding: 0px;
  padding-right: 4px;
  text-align: center;
  font-size: 22px;
  margin-bottom: 14px;
  margin-top: 18px;
}

.product-inner-box .view-product-button {
  padding-left: 6px;
}

.product-inner-box .edit-product-button {
  margin-right: 5px;
  padding-left: 6px;
}

.product-inner-box .product-price {
  color: #c21a41;
  font-weight: bold;
  margin-top: 10px;
  font-size: 21px;
}

.product-inner-box .product-old-price {
  text-decoration: line-through;
  color: #272727;
  font-size: 16px;
  margin-top: -5px;
  height: 20px;
}

.product-inner-box:hover {
  border-color: rgba(0, 0, 0, 0.25);
}

.product-inner-box:hover img {
  transform: scale(1.01);
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.product-box:nth-child(1) {
  -webkit-animation-delay: 0.07s !important;
          animation-delay: 0.07s !important;
}

.product-box:nth-child(2) {
  -webkit-animation-delay: 0.14s !important;
          animation-delay: 0.14s !important;
}

.product-box:nth-child(3) {
  -webkit-animation-delay: 0.21s !important;
          animation-delay: 0.21s !important;
}

.product-box:nth-child(4) {
  -webkit-animation-delay: 0.28s !important;
          animation-delay: 0.28s !important;
}

.product-box:nth-child(5) {
  -webkit-animation-delay: 0.35s !important;
          animation-delay: 0.35s !important;
}

.product-box:nth-child(6) {
  -webkit-animation-delay: 0.42s !important;
          animation-delay: 0.42s !important;
}

.product-box:nth-child(7) {
  -webkit-animation-delay: 0.49s !important;
          animation-delay: 0.49s !important;
}

.product-box:nth-child(8) {
  -webkit-animation-delay: 0.56s !important;
          animation-delay: 0.56s !important;
}

.product-box:nth-child(9) {
  -webkit-animation-delay: 0.63s !important;
          animation-delay: 0.63s !important;
}

.product-box:nth-child(10) {
  -webkit-animation-delay: 0.7s !important;
          animation-delay: 0.7s !important;
}

.product-box:nth-child(11) {
  -webkit-animation-delay: 0.77s !important;
          animation-delay: 0.77s !important;
}

.product-box:nth-child(12) {
  -webkit-animation-delay: 0.84s !important;
          animation-delay: 0.84s !important;
}

.product-box:nth-child(13) {
  -webkit-animation-delay: 0.91s !important;
          animation-delay: 0.91s !important;
}

.product-box:nth-child(14) {
  -webkit-animation-delay: 0.98s !important;
          animation-delay: 0.98s !important;
}

.product-box:nth-child(15) {
  -webkit-animation-delay: 1.05s !important;
          animation-delay: 1.05s !important;
}

.product-box:nth-child(16) {
  -webkit-animation-delay: 1.12s !important;
          animation-delay: 1.12s !important;
}

.product-box:nth-child(17) {
  -webkit-animation-delay: 1.19s !important;
          animation-delay: 1.19s !important;
}

.product-box:nth-child(18) {
  -webkit-animation-delay: 1.26s !important;
          animation-delay: 1.26s !important;
}

.product-box:nth-child(19) {
  -webkit-animation-delay: 1.33s !important;
          animation-delay: 1.33s !important;
}

.product-box:nth-child(20) {
  -webkit-animation-delay: 1.4s !important;
          animation-delay: 1.4s !important;
}

.product-box:nth-child(21) {
  -webkit-animation-delay: 1.47s !important;
          animation-delay: 1.47s !important;
}

.product-box:nth-child(22) {
  -webkit-animation-delay: 1.54s !important;
          animation-delay: 1.54s !important;
}

.product-box:nth-child(23) {
  -webkit-animation-delay: 1.61s !important;
          animation-delay: 1.61s !important;
}

.product-box:nth-child(24) {
  -webkit-animation-delay: 1.68s !important;
          animation-delay: 1.68s !important;
}

.product-box:nth-child(25) {
  -webkit-animation-delay: 1.75s !important;
          animation-delay: 1.75s !important;
}

.product-box:nth-child(26) {
  -webkit-animation-delay: 1.82s !important;
          animation-delay: 1.82s !important;
}

.product-box:nth-child(27) {
  -webkit-animation-delay: 1.89s !important;
          animation-delay: 1.89s !important;
}

.product-box:nth-child(28) {
  -webkit-animation-delay: 1.96s !important;
          animation-delay: 1.96s !important;
}

.product-box:nth-child(29) {
  -webkit-animation-delay: 2.03s !important;
          animation-delay: 2.03s !important;
}

.product-box:nth-child(30) {
  -webkit-animation-delay: 2.1s !important;
          animation-delay: 2.1s !important;
}

.product-box:nth-child(31) {
  -webkit-animation-delay: 2.17s !important;
          animation-delay: 2.17s !important;
}

.product-box:nth-child(32) {
  -webkit-animation-delay: 2.24s !important;
          animation-delay: 2.24s !important;
}

.product-box:nth-child(33) {
  -webkit-animation-delay: 2.31s !important;
          animation-delay: 2.31s !important;
}

.product-box:nth-child(34) {
  -webkit-animation-delay: 2.38s !important;
          animation-delay: 2.38s !important;
}

.product-box:nth-child(35) {
  -webkit-animation-delay: 2.45s !important;
          animation-delay: 2.45s !important;
}

.product-box:nth-child(36) {
  -webkit-animation-delay: 2.52s !important;
          animation-delay: 2.52s !important;
}

.product-box:nth-child(37) {
  -webkit-animation-delay: 2.59s !important;
          animation-delay: 2.59s !important;
}

.product-box:nth-child(38) {
  -webkit-animation-delay: 2.66s !important;
          animation-delay: 2.66s !important;
}

.product-box:nth-child(39) {
  -webkit-animation-delay: 2.73s !important;
          animation-delay: 2.73s !important;
}

.product-box:nth-child(40) {
  -webkit-animation-delay: 2.8s !important;
          animation-delay: 2.8s !important;
}

.product-box:nth-child(41) {
  -webkit-animation-delay: 2.87s !important;
          animation-delay: 2.87s !important;
}

.product-box:nth-child(42) {
  -webkit-animation-delay: 2.94s !important;
          animation-delay: 2.94s !important;
}

.product-box:nth-child(43) {
  -webkit-animation-delay: 3.01s !important;
          animation-delay: 3.01s !important;
}

.product-box:nth-child(44) {
  -webkit-animation-delay: 3.08s !important;
          animation-delay: 3.08s !important;
}

.product-box:nth-child(45) {
  -webkit-animation-delay: 3.15s !important;
          animation-delay: 3.15s !important;
}

.product-box:nth-child(46) {
  -webkit-animation-delay: 3.22s !important;
          animation-delay: 3.22s !important;
}

.product-box:nth-child(47) {
  -webkit-animation-delay: 3.29s !important;
          animation-delay: 3.29s !important;
}

.product-box:nth-child(48) {
  -webkit-animation-delay: 3.36s !important;
          animation-delay: 3.36s !important;
}

.product-box:nth-child(49) {
  -webkit-animation-delay: 3.43s !important;
          animation-delay: 3.43s !important;
}

.product-box:nth-child(50) {
  -webkit-animation-delay: 3.5s !important;
          animation-delay: 3.5s !important;
}

.product-box:nth-child(51) {
  -webkit-animation-delay: 3.57s !important;
          animation-delay: 3.57s !important;
}

.product-box:nth-child(52) {
  -webkit-animation-delay: 3.64s !important;
          animation-delay: 3.64s !important;
}

.product-box:nth-child(53) {
  -webkit-animation-delay: 3.71s !important;
          animation-delay: 3.71s !important;
}

.product-box:nth-child(54) {
  -webkit-animation-delay: 3.78s !important;
          animation-delay: 3.78s !important;
}

.product-box:nth-child(55) {
  -webkit-animation-delay: 3.85s !important;
          animation-delay: 3.85s !important;
}

.product-box:nth-child(56) {
  -webkit-animation-delay: 3.92s !important;
          animation-delay: 3.92s !important;
}

.product-box:nth-child(57) {
  -webkit-animation-delay: 3.99s !important;
          animation-delay: 3.99s !important;
}

.product-box:nth-child(58) {
  -webkit-animation-delay: 4.06s !important;
          animation-delay: 4.06s !important;
}

.product-box:nth-child(59) {
  -webkit-animation-delay: 4.13s !important;
          animation-delay: 4.13s !important;
}

.product-box:nth-child(60) {
  -webkit-animation-delay: 4.2s !important;
          animation-delay: 4.2s !important;
}

.product-box:nth-child(61) {
  -webkit-animation-delay: 4.27s !important;
          animation-delay: 4.27s !important;
}

.product-box:nth-child(62) {
  -webkit-animation-delay: 4.34s !important;
          animation-delay: 4.34s !important;
}

.product-box:nth-child(63) {
  -webkit-animation-delay: 4.41s !important;
          animation-delay: 4.41s !important;
}

.product-box:nth-child(64) {
  -webkit-animation-delay: 4.48s !important;
          animation-delay: 4.48s !important;
}

.product-box:nth-child(65) {
  -webkit-animation-delay: 4.55s !important;
          animation-delay: 4.55s !important;
}

.product-box:nth-child(66) {
  -webkit-animation-delay: 4.62s !important;
          animation-delay: 4.62s !important;
}

.product-box:nth-child(67) {
  -webkit-animation-delay: 4.69s !important;
          animation-delay: 4.69s !important;
}

.product-box:nth-child(68) {
  -webkit-animation-delay: 4.76s !important;
          animation-delay: 4.76s !important;
}

.product-box:nth-child(69) {
  -webkit-animation-delay: 4.83s !important;
          animation-delay: 4.83s !important;
}

.product-box:nth-child(70) {
  -webkit-animation-delay: 4.9s !important;
          animation-delay: 4.9s !important;
}

.product-box:nth-child(71) {
  -webkit-animation-delay: 4.97s !important;
          animation-delay: 4.97s !important;
}

.product-box:nth-child(72) {
  -webkit-animation-delay: 5.04s !important;
          animation-delay: 5.04s !important;
}

.product-box:nth-child(73) {
  -webkit-animation-delay: 5.11s !important;
          animation-delay: 5.11s !important;
}

.product-box:nth-child(74) {
  -webkit-animation-delay: 5.18s !important;
          animation-delay: 5.18s !important;
}

.product-box:nth-child(75) {
  -webkit-animation-delay: 5.25s !important;
          animation-delay: 5.25s !important;
}

.product-box:nth-child(76) {
  -webkit-animation-delay: 5.32s !important;
          animation-delay: 5.32s !important;
}

.product-box:nth-child(77) {
  -webkit-animation-delay: 5.39s !important;
          animation-delay: 5.39s !important;
}

.product-box:nth-child(78) {
  -webkit-animation-delay: 5.46s !important;
          animation-delay: 5.46s !important;
}

.product-box:nth-child(79) {
  -webkit-animation-delay: 5.53s !important;
          animation-delay: 5.53s !important;
}

.product-box:nth-child(80) {
  -webkit-animation-delay: 5.6s !important;
          animation-delay: 5.6s !important;
}

.product-box:nth-child(81) {
  -webkit-animation-delay: 5.67s !important;
          animation-delay: 5.67s !important;
}

.product-box:nth-child(82) {
  -webkit-animation-delay: 5.74s !important;
          animation-delay: 5.74s !important;
}

.product-box:nth-child(83) {
  -webkit-animation-delay: 5.81s !important;
          animation-delay: 5.81s !important;
}

.product-box:nth-child(84) {
  -webkit-animation-delay: 5.88s !important;
          animation-delay: 5.88s !important;
}

.product-box:nth-child(85) {
  -webkit-animation-delay: 5.95s !important;
          animation-delay: 5.95s !important;
}

.product-box:nth-child(86) {
  -webkit-animation-delay: 6.02s !important;
          animation-delay: 6.02s !important;
}

.product-box:nth-child(87) {
  -webkit-animation-delay: 6.09s !important;
          animation-delay: 6.09s !important;
}

.product-box:nth-child(88) {
  -webkit-animation-delay: 6.16s !important;
          animation-delay: 6.16s !important;
}

.product-box:nth-child(89) {
  -webkit-animation-delay: 6.23s !important;
          animation-delay: 6.23s !important;
}

.product-box:nth-child(90) {
  -webkit-animation-delay: 6.3s !important;
          animation-delay: 6.3s !important;
}

.product-box:nth-child(91) {
  -webkit-animation-delay: 6.37s !important;
          animation-delay: 6.37s !important;
}

.product-box:nth-child(92) {
  -webkit-animation-delay: 6.44s !important;
          animation-delay: 6.44s !important;
}

.product-box:nth-child(93) {
  -webkit-animation-delay: 6.51s !important;
          animation-delay: 6.51s !important;
}

.product-box:nth-child(94) {
  -webkit-animation-delay: 6.58s !important;
          animation-delay: 6.58s !important;
}

.product-box:nth-child(95) {
  -webkit-animation-delay: 6.65s !important;
          animation-delay: 6.65s !important;
}

.product-box:nth-child(96) {
  -webkit-animation-delay: 6.72s !important;
          animation-delay: 6.72s !important;
}

.product-box:nth-child(97) {
  -webkit-animation-delay: 6.79s !important;
          animation-delay: 6.79s !important;
}

.product-box:nth-child(98) {
  -webkit-animation-delay: 6.86s !important;
          animation-delay: 6.86s !important;
}

.product-box:nth-child(99) {
  -webkit-animation-delay: 6.93s !important;
          animation-delay: 6.93s !important;
}

.product-box:nth-child(100) {
  -webkit-animation-delay: 7s !important;
          animation-delay: 7s !important;
}

label[for=discount-filter].form-check-label {
  color: #00ce56;
  font-weight: bold;
  font-size: 14px;
}

label[for=discount-filter].form-check-label i {
  font-size: 20px;
}

#filter-text {
  margin-bottom: 30px;
  margin-top: 10px;
  height: 32px;
}

#filter-price-box {
  display: block;
  height: 40px;
  margin-bottom: 40px;
}

#filter-min-price {
  display: inline-block;
  box-sizing: border-box;
  float: left;
  font-size: 14px;
  width: calc(50% - 10px);
  height: 30px;
  margin-top: 2px;
}

#filter-max-price {
  display: inline-block;
  box-sizing: border-box;
  float: left;
  font-size: 14px;
  width: calc(50% - 10px);
  height: 30px;
  margin-top: 2px;
}

#filter-price-divider {
  display: inline-block;
  box-sizing: border-box;
  float: left;
  width: 20px;
  height: 30px;
  line-height: 30px;
  margin-top: 2px;
  text-align: center;
  font-size: 20px;
}

.filter-label {
  margin-top: 30px;
}

.filter {
  padding: 0px;
  padding-right: 10px;
  max-height: 400px;
  overflow-y: auto;
}

.filter-box {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  width: 90%;
}

.filter-box label::after,
.filter-box label::before {
  top: 1px;
  height: 20px;
  width: 20px;
  font-size: 13px;
}

.filter-box input[type=checkbox]:checked + label::before,
.filter-box input[type=radio]:checked + label::before {
  background-color: #d21e49;
  border-color: #c21a41;
}

#filter-button {
  line-height: 28px;
}

#filter-button i {
  line-height: 18px;
  font-size: 15px;
}

@media (max-width: 992px) {
  .product-box {
    width: 240px;
    height: 367px;
    padding: 10px;
  }

  .product-inner-box .product-image-box .product-box-discount {
    font-size: 15px;
    width: 70px;
    height: 28px;
    line-height: 28px;
  }

  .product-inner-box .product-name {
    font-size: 15px;
    height: 50px;
    line-height: 25px;
    margin-top: 10px;
    padding: 0px 10px;
  }

  .product-inner-box .product-bottom-box {
    box-sizing: border-box;
    padding: 0px 10px 10px 10px;
  }

  .product-inner-box .product-add-to-cart-button,
  .product-inner-box .view-product-button,
  .product-inner-box .edit-product-button {
    height: 32px;
    width: 32px;
    line-height: 32px;
    padding-right: 4px;
    font-size: 20px;
    margin-top: 25px;
  }

  .product-inner-box .product-add-to-cart-button {
    padding-left: 3px;
  }

  .product-inner-box .product-price {
    margin-top: 18px;
    font-size: 18px;
  }

  .product-inner-box .product-old-price {
    font-size: 14px;
    margin-top: -5px;
    height: 20px;
  }
}

@media (max-width: 767px) {
  #filters {
    display: block;
    margin: auto;
    margin-bottom: 25px;
  }

  #filters #filters-header {
    display: block;
    width: 100%;
    background-color: #d21e49;
    color: white;
    height: 50px;
    line-height: 54px;
    font-size: 16px;
    padding: 0px 10px;
  }

  #filters #filters-header i {
    font-size: 24px;
  }

  #filters #filters-header #filters-toggle-button {
    float: right;
    border: 1px solid #c21a41;
    border-radius: 2px;
    background-color: #d21e49;
    color: white;
    font-size: 20px;
    outline: none;
    width: 40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    margin-top: 5px;
  }

  #filters #filters-header #filters-toggle-button:focus,
  #filters #filters-header #filters-toggle-button:active {
    background-color: #c21a41;
    border: 1px solid #9a0f3b;
  }

  #filter-button {
    display: block;
    width: 225px;
    margin: auto;
  }

  nav:nth-child(1) {
    display: none;
  }
}

@media (max-width: 500px) {
  #content {
    padding-left: 0px;
    padding-right: 0px;
  }

  .filter-box {
    font-size: 13px;
  }
}

